* {
    font-family: 'Lato', sans-serif;
}

header {
    border-bottom: 2px solid gray;
}

h1 {
    display: inline-block;
}

ul {
    list-style-type: none;
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
}

.right {
    float: right;
}
